* {
  margin: 0;
  padding: 0;
}
a {
  color: #42b983;
  text-decoration: none !important;
}
.app {
  margin: 30px 0 0 30px;
  overflow: hidden;
}
.app {
  width: 1300px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 20px 0 50px 0;
  color: #5c5c5c;
}
.chart-container {
  float: left;
  width: 700px;
  overflow: hidden;
  margin-right: 40px;
}
.article-container {
  float: left;
}
.article-container div {
  margin-bottom: 20px;
}
.article-container p {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.article-container .comment-top i {
  color: #f60;
}
.article-container li {
  padding: 8px 0;
  max-width: 600px;
}
.article-container li i {
  font-style: normal;
  color: #4285f4;
}
.statis-chart {
  width: 700px;
  height: 500px;
}
.statis-chart.sum {
  width: 500px;
  height: 300px;
}
