.app {
  width: 1300px;
  margin: 0 auto;
}
.nav-link {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.nav-link a {
  color: #00f;
  margin-right: 10px;
}
.nav-link a.l-prev {
  float: right;
}
.chart-container {
  float: left;
  width: 700px;
  overflow: hidden;
  margin-right: 40px;
}
.article-container {
  float: left;
}
.article-container div {
  margin-bottom: 20px;
}
.article-container .sum-title {
  margin-bottom: 10px;
  font-size: 14px;
}
.article-container .sum-title strong {
  font-size: 18px;
}
.article-container .comment-top i {
  color: #f60;
}
.article-container li {
  max-width: 600px;
}
.statis-chart {
  width: 700px;
  height: 500px;
}
.statis-chart.sum {
  width: 500px;
  height: 300px;
}
