.app {
  width: 1200px;
  margin: 0 auto;
}
.nav-link {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
}
.nav-link a {
  color: #00f;
  margin-right: 10px;
}
.nav-link a.l-next {
  float: right;
}
.chart-container {
  float: left;
  width: 600px;
  overflow: hidden;
  margin-right: 20px;
}
.article-container {
  display: inline-block;
}
.article-container .explain-tips {
  margin: 5px 0 10px;
}
.article-container div {
  margin-bottom: 20px;
}
.article-container .sum-title {
  font-size: 14px;
}
.article-container .sum-title strong {
  font-size: 18px;
}
.article-container .comment-top i {
  color: #f60;
}
.article-container li {
  max-width: 600px;
}
.statis-chart {
  width: 600px;
  height: 500px;
}
.statis-chart.sum {
  width: 500px;
  height: 300px;
}
