.app {
  width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  margin: 20px 0 50px 0;
  color: #5c5c5c;
  z-index: 101;
}
h2 {
  text-align: center;
  color: #777;
  margin: 20px 0;
}
.explain-tips {
  font-size: 13px;
  color: #aaa;
}
.chart-container {
  width: 800px;
  overflow: hidden;
  margin: 40px auto;
}
.chart-container .statis-chart {
  width: 800px;
  height: 400px;
}
.chart-container .desc p {
  line-height: 22px;
  font-size: 18px;
}
.chart-container .desc .max-year {
  font-size: 14px;
  margin: 5px 0 10px;
}
.chart-container .desc .max-year span {
  margin-left: 5px;
}
.chart-container .desc .max-year i {
  font-style: normal;
  padding-right: 5px;
}
.month-container {
  width: 800px;
  margin: auto;
}
.month-container p {
  font-size: 18px;
  color: #333;
  font-size: 16px;
}
.month-container a {
  display: inline-block;
  margin-right: 10px;
  color: #00f;
  font-size: 14px;
}
.month-container a:hover {
  text-decoration: underline !important;
}
.top-container {
  width: 800px;
  margin: 20px auto;
  padding: 15px 0;
}
.top-container .top-title {
  color: #333;
}
.top-container .top-item {
  margin: 10px 0 15px;
}
.top-container .top-desc {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.top-container li {
  list-style: none;
  padding: 6px 0;
}
.top-container .count {
  margin-left: 5px;
}
.top-container i {
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  font-style: normal;
}
.article-container li i {
  display: inline-block;
  min-width: 50px;
}
.article-container li i.month {
  width: 65px;
}
.article-container .cmt-articles li i {
  color: #f60;
}
