extends layout

block append head
    link(rel='stylesheet', href='/css/index/index.css')
    //- link(rel='stylesheet', href='#{article.css}')

block content
    //- #{article.body}                    

block footer
