<style>
    h1 {
        text-align: center;
    }
    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
    }
</style>
<h1>Error</h1>
<a href="/">go back</a>
