doctype html
html
    block head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="format-detection" content="telephone=no")
        link(rel="shortcut icon", href="http://static.zhihu.com/static/favicon.ico",type="image/x-icon")
        link(rel='stylesheet', href='/css/base.css')
    block content
    block footer
        //- script(type="text/javascript",src="http://g.alicdn.com/tbc/m-base/0.0.8/index.js")
        script(type="text/javascript",src="http://libs.baidu.com/zepto/0.8/zepto.min.js")