extends layout

block append head
    link(rel='stylesheet', href='/css/index/index.css')

block content
    div.list
        if list.length>0
            each item in list
                p.article 
                a(href="http://daily.zhihu.com/story/#{item.id}") #{item.title}

block append footer
    script(src="/js/index.js")
