<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<title>zhihu - <%= title %></title>
<meta name="description" content="" />
<meta name="keyword" content="" />
<base target="_blank" />
<link rel="stylesheet" href="/css/index/index.css">
</head>

<body>