.img-wrap {
    width: 100%;
}
#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url(https://github.com/themes/slate/images/blacktocat.png) #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.start-img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .back-img {
        width: 100%;
        height: 100%;
        background: #333 center center no-repeat;
        background-size: 100%;
        -webkit-transition: transform 2.5s;
        transition: transform 2.5s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        &.zoom {
            -webkit-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
        }
    }
    .author {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: .7rem;
    }
    
}
.articles {
    width: 990px;
    margin: 10px auto 0;
    .article {
        display: block;
        margin:0 10px;
        padding: 15px 0;
        height: 90px;
        border-bottom: 1px solid #ccc;
        span {
            display: inline-block;
            width: 80%;
            font-size: 16px;
            color: #555;
            line-height: 1.5;
        }
        img {
            float: right;
            margin-right: 10px;
            width: 60px;
        }
        
    }
}