@import './variable.styl'
* {
  margin 0
  padding 0
}
a {
  color #42b983
  text-decoration none
  font-size 15px
  &:hover {
    text-decoration underline
  }
}
i {
  font-family "Lucida Console", Monaco, monospace
}
.hide {
  display none
}
.explain-tips {
  font-size 13px
  color #aaa
}

h1 {
  position relative
  text-align center
  margin 20px 0 50px 0
  color #5c5c5c
  z-index 101
}
.txt-s {
  color $starColor
}
.txt-c {
  color $commentColor
}
.app {
  padding-bottom 50px
  .statis-data {
    overflow hidden
  }
}
.loading {
  position absolute
  width 100%
  height 100%
  top 0 
  left 0
  background #fff url('http://7xiblh.com1.z0.glb.clouddn.com/loading.gif') center center no-repeat
  background-size 32px 32px
  z-index 100
}
.article-container {
  .top-title {
    border-bottom 1px solid #ccc
    padding-bottom 5px
    margin-bottom 5px
  }
  li {
    padding 8px 0
    i {
      font-style normal
      color $starColor
    }
  }
}


