@import './variable.styl'
.app {
  width 1300px
  margin 0 auto 
}
h1 {
  position relative
  text-align center
  margin 20px 0 50px 0
  color #5c5c5c
  z-index 101
}
.chart-container {
  float left
  width 700px
  overflow hidden
  margin-right 40px
}
.article-container {
  float left
  div {
    margin-bottom 20px
  }
  .sum-title {
    margin-bottom 10px
    font-size 14px
    strong {
      font-size 18px
    }
    .s {
      color $starColor
    }
    .c {
      color $commentColor
    }
  }
  .top-title {
    border-bottom 1px solid #ccc
    padding-bottom 5px
    margin-bottom 5px
  }
  .comment-top {
    i {
      color $commentColor
    }
  }
  li {
    padding 8px 0
    max-width 600px
    i {
      font-style normal
      color $starColor
    }
  }
}
.statis-chart {
  width 700px
  height 500px
  &.sum {
    width 500px
    height 300px
  }
}